@import 'sass/colors';

body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.header{
    display: flex;
    background-color: $header-footer;
    border-bottom: 2px solid $header-border;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    .header__icon {
        a{
            padding-right: 15px;
        }
    }
    @media screen and (max-width: 360px){
        width: 100vw;
    }
    @media screen and (min-width: 361px) and (max-width: 600px){
        width: 100vw;
    }
    @media screen and (min-width: 601px) and (max-width: 1006px){
        width: 100vw;
    }
}
main{
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    margin-top: 40px;
    @media screen and (max-width: 360px){
        width: 100%;
        margin-top: 0;
    }
    @media screen and (min-width: 361px) and (max-width: 600px){
        width: 100%;
        margin-top: 0;
    }
    @media screen and (min-width: 601px) and (max-width: 1006px){
        width: 100%;
        margin-top: 0;
    }
}
.image-card-inline{
    display: flex;
    justify-content: center;
    gap: 20px;
    @media screen and (max-width: 360px){
        flex-wrap: wrap;
        margin: 40px 20px;
    }
    @media screen and (min-width: 601px) and (max-width: 1006px){
        width: 100vw;
    }
    @media screen and (min-width: 361px) and (max-width: 600px){
        flex-wrap: wrap;
        margin: 40px 20px;
    }
    @media screen and (min-width: 601px) and (max-width: 1006px){
        flex-wrap: wrap;
        margin: 40px 20px;
    }
    .image__big{
        img{
            max-width: 640px;
            @media screen and (max-width: 360px){
                width: 100%;
            }
            @media screen and (min-width: 361px) and (max-width: 600px){
                width: 100%;
            }
            @media screen and (min-width: 601px) and (max-width: 1006px){
                max-width: 600px;
                margin: auto;
            }
        }
        
    }
    .image__small--inline{
        display: flex;
        justify-content: space-between;
        img{
            @media screen and (max-width: 360px){
                position: absolute;
                width: 0;
                height: 0;
            }
            @media screen and (min-width: 361px) and (max-width: 600px){
                position: absolute;
                width: 0;
                height: 0;
            }
            @media screen and (min-width: 601px) and (max-width: 1006px){
                max-width: 290px;
            }
        }  
    }
    .thuja-card{
        display: flex;
        flex-direction: column;
        gap: 10px;
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
        .thuja-card__header{
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 10px;
        }
        .price{
            display: flex;
            gap: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 10px;
            :nth-child(1){
                text-decoration-line: line-through;
            }
            :nth-child(2){
                font-weight: 700;
            }
            .price__blue{
                width: 41px;
                font-weight: 700;
                font-size: 12px;
                border-radius: 11px;
                background-color: $blue-button;
                color: #fff;
                text-align: center;
            }
            
        }
        .size{
            display: flex;
            gap: 15px;
            .size__black{
                border-radius: 11px;
                background-color: $primary-black;
                border: 1px solid $primary-black;
                color: #fff;
                padding: 0 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                &:hover{
                    cursor: pointer;
                }
            }
            .size__border{
                border: 1px solid $primary-black;
                background-color: #fff;
                border-radius: 11px;
                padding: 0 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                cursor: pointer;
            }
        }
        .quantity{
            :first-child{
                margin-bottom: 5px;
            }
            :last-child{
                width: 89px;
            }
        }
        .border-button{
            border: 1px solid $primary-black;
            background-color: #fff;
            padding: 7px 0;
            cursor: pointer;
        }
        .black-button{
            background: $primary-black;
            border: 1px solid $primary-black;
            color: #fff;
            padding: 7px 0;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .paragraph{
            :first-child{
                margin-bottom: 15px;
            }
        }
        .backrount-hr{
            background-color: $primary-black;
            height: 1px;
        }
        .info{
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 20px;
            :last-child{
                border: none;
                background-color: #fff;
                cursor: pointer;
            }
        }
    }

}
.oasis-card{
    .oasis-card__inline{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        background-color: $card;
        @media screen and (max-width: 360px){
            flex-wrap: wrap;
        }
        @media screen and (min-width: 361px) and (max-width: 600px){
            flex-wrap: wrap;
        }
        @media screen and (min-width: 601px) and (max-width: 1006px){
            flex-wrap: wrap;
        }
        .oasis-card__inline--text{
            padding: 0 30px;
            h3{
                font-weight: 400;
                font-size: 32px;
                line-height: 38px;
                margin-bottom: 30px;
            }
            @media screen and (max-width: 360px){
                padding: 20px 20px;
            }
            @media screen and (min-width: 361px) and (max-width: 600px){
                padding: 20px 30px;
            }
            @media screen and (min-width: 601px) and (max-width: 1006px){
                padding: 20px 30px;
            }
        }
        .oasis-card__inline--image{
            img{
                max-width: 540px;
                @media screen and (max-width: 360px){
                    width: 100%;
                }
                @media screen and (min-width: 361px) and (max-width: 600px){
                    width: 100vw;
                }
                @media screen and (min-width: 601px) and (max-width: 1006px){
                    width: 100vw;
                }
            }
        }
    }
}

.text{
    text-align: center;
    padding: 50px 320px;
    @media screen and (max-width: 360px){
        padding: 20px 10px;
    }
    @media screen and (min-width: 361px) and (max-width: 600px){
        padding: 20px 10px;
    }
    @media screen and (min-width: 601px) and (max-width: 1006px){
        padding: 50px 100px;
    }
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: $header-footer;
    align-items: center;
    padding: 10px 0;
    @media screen and (max-width: 360px){
        flex-wrap: wrap;
        padding: 10px 10px;
        text-align: center;
    }
    @media screen and (min-width: 601px) and (max-width: 1006px){
        width: 100vw;
    }
    @media screen and (min-width: 361px) and (max-width: 600px){
        flex-wrap: wrap;
        padding: 10px 10px;
        text-align: center;
    }
    // @media screen and (min-width: 601px) and (max-width: 1006px){
    //     width: 100vw;
    // }
}